## Pulled from https://github.com/hwdsl2/docker-ipsec-vpn-server
# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '

# IPSEC Preshared key
VPN_IPSEC_PSK=your_ipsec_pre_shared_key

# Mangos/Trinitycore/etc AUTH DB
DATABASE_URL=mysql://username:password@host:port/database

# true = Restrict VPN to connected docker network(Great for split tunnel), false = Allow full internet access through VPN
LOCAL_ONLY=true

# (*Optional*) Use alternative DNS servers
# - Uncomment and replace with your own values
# - By default, clients are set to use Google Public DNS
# - Example below shows Cloudflare's DNS service
# VPN_DNS_SRV1=1.1.1.1
# VPN_DNS_SRV2=1.0.0.1

# (*Optional*) Advanced users can set up IKEv2. See:
# https://git.io/ikev2docker
